.container {
  min-width: 250px;
}

.input {
  background-color: #fff;
  border-color: #d9d9d9 #ccc #b3b3b3;
  font-size: 17px;
  padding-left: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
  color: #333;
  cursor: default;
  display: table;
  border-spacing: 0;
  border-collapse: separate;
  height: 36px;
  outline: none;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.list-group {
  background-color: #fff;
  border-color: #d9d9d9 #ccc #b3b3b3;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 100%;
  display: flex;
  flex-direction: column;
  max-height: 200px;
  overflow: auto;
}

.list-group-item {
  flex: 1;
}

.list-group-item:hover {
  background-color: rgb(235, 245, 255);
}

.list-group-item-text {
}

.active {
  background-color: rgb(235, 245, 255);
}